*{margin:0;padding:0;}
a{text-decoration: none;}
li{list-style: none;}
body{background-color:#E6ECED;}
.section1{height:370px;width:100%;}
.lunBo-pic{width:1349px;margin:0 auto;position: relative;}
.lunBo-pic a{height:370px;width:1349px;position: absolute;}
.lunBo-pic img{height:100%;width:100%;}
.controler{width:50px;height:100px;
	background-color:black;
	opacity:0.4;
	display: inline-block;
	position:relative; top:135px;
}
.con1{float:left;}
.con2{float:right;}
.dot{position: relative;top:330px;width:500px;margin:0 auto;text-align: center;}
.dot span{
	width:20px;height:20px;background-color:white;
	display: inline-block; border-radius: 10px;
	margin:0 10px;
}
span.doth{background-color:black;}
.section2{width:1100px;height:660px;position: relative;margin:20px auto;background-color:white;}
.recommend{
	width:1070px;height:635px;position: relative;top:15px;left:15px;
}
.left-sec{
	width:785px;height:635px;border-right:1px solid #BFBFBF;
	display: inline-block;
}
 h2{font-weight:500;font-family:'微软雅黑';cursor:default;margin-bottom:10px;}
.choice-top{
	width:775px;height:390px;position:relative;border-bottom:1px solid #BFBFBF;
}

.choice-top a{position: absolute;}
.choice-top a img{width:186px;height:186px;}
.choice-top a:nth-child(5) img{width:382px;height:382px;}
.choice-top a:nth-child(2){left:196px;}
.choice-top a:nth-child(3){top:196px;}
.choice-top a:nth-child(4){left:196px;top:196px;}
.choice-top a:nth-child(5){left:392px;}
.choice-bottom{
	width:775px;height:195px;position: relative;
	margin-top:5px;
	background-color:#E6ECED;
}

.right-sec{width:275px;height:635px;float: right;margin-left:5px;}
.hot-list{width:270px;height:550px;margin:0 auto;border-top:1px solid  #BFBFBF;}
.hot-list-ul li a{display:block;margin-top:12px;width:270px;height:72px;background-color: #CDCDCD}
.hot-list-ul li a img{width:72px;height:72px;}
/*轮播图-热门 */
.bott-nav{margin:0 0 0 72px;width:400px;}
.bott-nav li,.bott-nav a{display:inline-block;margin:2px 10px 2px 0;padding:2px 6px 2px 6px;}
.bott-nav a:hover{background-color:#4E8D57;color:white;border-radius: 10px;}
.control-cd{
	width:120px;height:120px;background-color:#C6C6C6;
	position:absolute;top:52px;
}
.control-cd img{width:120px;}
.control-cd-left{left:20px;}
.control-cd-right{left:635px;}
.hide-div{width:640px;height:160px;margin:0 auto;overflow:hidden;position:relative;}
.container{
	width:1920px;height:158px;position:absolute;
	left:0px;
}
.page{float:left;}
.page li{float:left;}
.page a{
	display:block;width:150px;height:150px;
	margin:0 5px;position: relative;
}
.page img,.page div{width:150px;height:150px;}
.page div{position:absolute;top:0px;box-shadow:10px 10px 20px white inset;}

.section3{
	width:1100px;height:370px;position:relative;
	margin: 20px auto;background-color: white;
}
.section3 h2{text-align:center;position:relative;top:20px;font-size:30px;}
.lunBo3{width:1100px;height:260px;position:relative;top:30px;}
.lunBo3-pic{
	width:550px;height:240px;
	position:absolute;
}
.lunBo3-pic img{width:100%;height:100%;}

.lunBo3-pic:nth-child(1){	
	width:330px;height:144px;
	left:100px;top:48px;z-index: 3;
}

.lunBo3-pic:nth-child(2){	
	width:440px;height:192px;
	left:160px;top:24px;z-index: 4;
}

.lunBo3-pic:nth-child(3){
	width:550px;height:240px;
	left:275px;top:0px;z-index: 5;
}

.lunBo3-pic:nth-child(4){	
	width:440px;height:192px;
	left:500px;top:24px;z-index: 2;
}

.lunBo3-pic:nth-child(5){	
	width:330px;height:144px;
	left:670px;top:48px;z-index: 1;
}
.lunBo3-controler{
	width:195px;height:200px;position: absolute;
	top:20px;background-color: black;opacity: 0;z-index:6;
}
.lunBo3-controler-left{left:80px;}
.lunBo3-controler-right{left:825px;}

.section4{
	width:1100px;height:750px;margin:0 auto;
	position:relative;background-color:white;
}
.section4 h2{text-align:center;position: relative;top:30px;font-size:30px;}
.container-toplist{
	width:1080px;height:630px;margin:0 auto;
	background-color:#F6F6F6;position:relative;top:50px;
}
.container-toplist ul{
	width:250px;height:600px;position:absolute;
	background-color:#E6ECED;top:15px;
	border:1px solid #B3B3B3;
}
.topsong1{left:10px;}
.topsong2{left:280px;}
.topsong3{left:550px;}
.topsong4{left:820px;}
.container-toplist ul li{
	width:100%;height:40px;
}
.container-toplist ul li:nth-child(odd){background-color:#F9F9F9;}
.head-li{
	height:120px !important;
}