*{margin:0;padding:0;}
a{text-decoration: none;}
li{list-style: none;}
body{background-color:#E6ECED;font-family: '微软雅黑'}
.section1{
	height:370px;width:100%;
	outline: 1px solid #D4D4D4;box-shadow:0 0px 10px #CCCCCC;
	overflow: hidden;
}
.lunBo-pic{
	height:370px;width:1100px;margin:0 auto;
	position: relative;
}
.lunBo-pic a{height:100%;width:100%;position:absolute;}
.lunBo-pic img{height:100%;width:100%;}
.controler{
	width:50px;height:100px;
	display: inline-block;
	position:relative; top:135px;
}
.controler:hover{background-color:rgba(0,0,0,0.2);}
.con1{
	float:left;
	background-image:url(pic/nav_bg_tab.png);
	background-position:-50px -138px;
}
.con1:hover{background-color:rgb(0,0,0,0.2);}
.con2{
	float:right;
	background-image:url(pic/nav_bg_tab.png);
	background-position:0px -138px;
}
.dot{position: relative;top:-40px;width:500px;margin:0 auto;text-align: center;}
.dot span{
	width:12px;height:12px;background-color:white;
	display: inline-block; border-radius: 6px;
	margin:0 12px;opacity: 0.5;position: relative; top:0;left:0;
}
span.doth{
	opacity:1;width:16px;height:16px;
	border-radius:8px;top:2px;margin:0 10px;
}
.section2{
	width:1100px;height:660px;position: relative;
	margin:20px auto;background-color:white;
	outline: 1px solid #D4D4D4;box-shadow:0 0px 10px #CCCCCC;
}
.recommend{
	width:1070px;height:635px;position: relative;top:15px;left:15px;
}
.left-sec{
	width:785px;height:635px;border-right:1px solid #BFBFBF;
	display: inline-block;
}
 h2{font-weight:300;font-family:'微软雅黑';cursor:default;margin-bottom:10px;}

.choice-top{
	width:775px;height:390px;position:relative;border-bottom:1px solid #BFBFBF;
}

.choice-top a{
	position: absolute;width:186px;height:186px;
	overflow: hidden;
}

.choice-top a img{
	width:100%;height:100%;position: relative;top:0;left:0;
	transition:width 0.5s,height 0.5s,top 0.5s,left 0.5s;
}

.choice-top a:nth-child(5){width:382px;height:382px;}
.choice-top a:nth-child(2){left:196px;}
.choice-top a:nth-child(3){top:196px;}
.choice-top a:nth-child(4){left:196px;top:196px;}
.choice-top a:nth-child(5){left:392px;}
.gry-bottom{
	position: absolute;width:176px;height:30px;
	line-height: 30px;
	background-color: rgba(0,0,0,0.5);bottom:0px;
	color:#ECECEC;padding:0 5px;
	text-overflow: ellipsis;white-space: nowrap;overflow: hidden;
}

.gry-bottom-big{
	position: absolute;width:362px;height:50px;
	line-height: 50px;font-size:20px;font-weight:300;
	background-color: rgba(0,0,0,0.5);bottom:0px;
	color:#EFEFEF;padding:0 10px;
	text-overflow: ellipsis;white-space: nowrap;overflow: hidden;
}
.gry{
	position: absolute;width:186px;height:186px;
	background-color: rgba(0,0,0,0.3);top:0px;
	background-image: url(pic/nav_bg_tab.png);background-repeat: no-repeat;
	background-position: 60px -325px;
	opacity:0;text-align:center;
	transition:opacity 0.2s;
}
.gry p{
	color:#DEDEDE;margin-top:38px;line-height:25px;
}
.gry-big{
	background-position: 155px -220px;
	width:382px;height:382px;
}
.gry:hover{opacity:1;}
.choice-bottom{
	width:775px;height:195px;position: relative;
	margin-top:5px;
	background-color:#F2F2F2;
	border-radius: 20px;
	box-shadow: 0 0 60px rgba(0,0,0,0.3) inset;
}

.right-sec{width:275px;height:635px;float: right;margin-left:5px;}
.hot-list{width:270px;height:550px;margin:0 auto;border-top:1px solid  #BFBFBF;}
.hot-list-ul li a{
	display:block;margin-top:12px;width:270px;height:72px;
	background-color: #F5F5F5;
	outline:1px solid #D4D4D4;
	transition: background-color 0.1s,box-shadow 0.1s;
	position:relative;
}
.hot-list-ul li a:hover{
	background-color: #EAEAEA;
	box-shadow:0 0 10px rgba(80,80,80,0.1) inset;
}
.hot-list-ul li a img{width:72px;height:72px;}
.hot-list-ul b{
	position: relative;top:-40px;left:5px;
	color:black;font-weight:500;
}
.hot-list-ul span{
	position: absolute;top:45px;left:78px;
	font-size:15px;color:#909090;
}


/*轮播图-热门 */
.bott-nav{
	margin:0 0 0 72px;width:420px;
}
.bott-nav li,.bott-nav a{
	display:inline-block;margin:2px 10px 2px 0;
	padding:2px 6px 2px 6px;
}
.bott-nav a{
	background-color:#EAEAEA;color:#4E8D57;border-radius: 10px;
}
a.bott-nav-hover,.bott-nav a:hover{background-color:#4E8D57;color:white;}
.control-cd{
	width:72px;height:120px;
	position:absolute;top:55px;
	overflow: hidden;
}
.control-cd img{width:120px;}
.control-cd-left{
	background-image: url(pic/nav_bg_tab.png);
	background-position:-155px -90px;
	transition: background-position 0.4s;
}
.control-cd-left:hover{background-position:-172px -90px;}
.control-cd-right{
	background-image: url(pic/nav_bg_tab.png);
	background-repeat: no-repeat;
	background-position:-250px -90px;
	left:702px;
	transition: background-position 0.4s;
}
.control-cd-right:hover{background-position:-232px -90px;}
.hide-div{
	width:640px;height:160px;margin:0 auto;
	overflow:hidden;position:relative;top:-5px;
}
.container{
	width:1920px;height:158px;
	position:absolute;left:0px;top:6px;
}
.page{float:left;}
.page li{float:left;}
.page a{
	display:block;width:150px;height:150px;overflow: hidden;
	margin:0 5px;position: relative;top:0px;
	-webkit-transform: top 0.4s;border-radius: 10px;
	transition: top 0.4s;border-radius: 10px;
}
.page a:hover{
	top:-6px;box-shadow:0 2px 5px black;
}
.page img{width:100%;height:100%;}
.hidediv{
	width:145px;position: absolute;
	height:150px;top:0;left:0;
	background-image:url(pic/nav_bg_tab.png);
	line-height: 265px;padding-left: 5px;font-size:14px;
	background-position: 150px 69px;color:#EBEBEB;font-weight:100;
	text-overflow: ellipsis;white-space: nowrap;overflow: hidden;
}


/*轮播图-旋转木马*/
.section3{
	width:1100px;height:370px;position:relative;
	margin: 20px auto;background-color: white;
	outline: 1px solid #D4D4D4;box-shadow:0 0px 10px #CCCCCC;
}
.section3 h2{text-align:center;position:relative;top:20px;font-size:30px;}
.lunBo3{
	width:1100px;height:260px;position:relative;top:30px;
}
.lunBo3-pic{
	width:550px;height:240px;
	position:absolute;
	/*box-shadow:0 2px 10px rgba(0,0,0,0.5);*/
}
.lunBo3-pic img{width:100%;height:100%;}

.lunBo3-pic:nth-child(1){	
	width:330px;height:144px;
	left:100px;top:48px;z-index: 3;
}

.lunBo3-pic:nth-child(2){	
	width:440px;height:192px;
	left:160px;top:24px;z-index: 4;
}

.lunBo3-pic:nth-child(3){
	width:550px;height:240px;
	left:275px;top:0px;z-index: 5;
}

.lunBo3-pic:nth-child(4){	
	width:440px;height:192px;
	left:500px;top:24px;z-index: 2;
}

.lunBo3-pic:nth-child(5){	
	width:330px;height:144px;
	left:670px;top:48px;z-index: 1;
}
.lunBo3-controler{
	width:195px;height:200px;position: absolute;
	top:20px;background-color: black;opacity: 0;z-index:6;
}
.lunBo3-controler-left{left:80px;}
.lunBo3-controler-right{left:825px;}

.section4{
	width:1100px;height:750px;margin:0 auto;
	position:relative;background-color:white;
	outline: 1px solid #D4D4D4;box-shadow:0 0px 10px #CCCCCC;
}
.section4 h2{text-align:center;position: relative;top:28px;font-size:30px;}
.container-toplist{
	width:1080px;height:630px;margin:0 auto;
	position:relative;top:50px;
}
.container-toplist ul{
	width:250px;height:600px;position:absolute;
	background-color:#E6ECED;top:-8px;
	border:1px solid #D4D4D4;
}
.topsong1{left:10px;}
.topsong2{left:280px;}
.topsong3{left:550px;}
.topsong4{left:820px;}
.container-toplist ul li{
	width:100%;height:40px;
}
.container-toplist ul li:nth-child(odd){background-color:#F9F9F9;}
.container-toplist ul li.head-li{
	height:120px;
}
.container-toplist ul li a{
	color:#717171;width:250px;
}
.container-toplist ul li a:hover{
	background-image: url(pic/nav1-bg.png);
	background-position: 0 -125px;
	color:white;
}
.container-toplist ul a{display:block;width:100%;height:100%;}
.top1-head{
	background-image: url(pic/topsong.png);
}
.top2-head{
	background-image: url(pic/topsong.png);
	background-position:0 -125px;
}
.top3-head{
	background-image: url(pic/topsong.png);
	background-position:0 -250px;
}
.top4-head{
	background-image: url(pic/topsong.png);
	background-position:0 -375px;
}
.container-toplist span{
	display:inline-block;font-size:15px;
	position:relative;top:8px;left:22px;width:205px;
	text-overflow: ellipsis;white-space: nowrap;overflow: hidden;
}